* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif !important;
}
.container {
  /* border: 2px solid rgb(0, 0, 0); */
  width: 80%;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden !important;
  box-shadow: 0px 0px 5px black;
}

.img-container {
  width: 45%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container img {
  width: 80%;
  height: auto;
  object-fit: cover !important;
  object-position: center;
  background-color: #fff;

}
.content {
  width: 55%;
  height: 100%;
  padding: 36px;
  background-color: #c1eab0;
}
.content h4 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.product-name {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: rgb(56, 56, 56);
}
.price{
    font-size: 1.2rem;
    font-weight: 500;
}
.description{
    width: 100%;
    height: auto;
    margin-top: 15px;


}
.description h3{
    font-size: 1.5rem;
    font-weight: 500;
}

.description{
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    line-height: 30px;
}
.btn{
    width: 300px;
    height: 50px;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    filter: brightness(90%);
    
}
.btn:hover{
    filter: brightness(100%);
}

@media (max-width:1000px) {
  .container{
    width: 90%;
  }
    
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    margin: 10% 0px;
    width: 95%;
    height: auto;
  }

  .img-container, .content {
    width: 100%;
    height: auto;
  }

  .img-container img {
    width: 70%;
    height: auto;
  }

  .btn {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
  }
}
@media (max-width: 500px) {

  .img-container img {
    width: 100%;
    height: auto;
  }
}
